.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 35px;
  background: #9c3143;
  color: rgb(238, 238, 238);
  font-size: 30px;
  position: sticky;
  top: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

.articles {
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px;
}

.borderlist {
  list-style-position: outside;
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
}

li {
  border-style: solid;
  border: #9c3143;
  border-width: 2%;
}

.articleBorder {
  border-style: solid;
  border: #9c3143;
  border-width: 2%;
}

.Home {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.breakingNews {
  height: 180px;
  position: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* nav buuton */

.comments_section {
  background-color: #9c3143;
}
